/* CLEARFIXES */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}



/* DESKTOP STYLES */

* {
	margin: 0;
}

html, body {
	max-height: 100%;
	width: 100%;
}

body {
	margin: 0 auto;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
}

.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -125px; 
}

img {
	display: block;
	margin: 15% auto 0 auto;	
	padding-bottom: 40px;
}

	.connect img {
		display: block;
		margin: 0 auto;
	}

h1 {
	margin: 0 auto;
	padding-bottom: 30px;
	width: 48%;
	text-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
	font-weight: 400;
	font-size: 32px;
}

.stroke {
	margin: 0 auto;
	height: 1px;
	width: 700px;
	background-color: white;
	/* gradient */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear,left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

}

h2 {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 30px;
	color: rgba(255,255,255,0.85);
	padding-top: 25px;
}

	h2 a {
		color: white;
		text-decoration: none;
		font-weight: 400;
		letter-spacing: 1px;
	}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 125px;
    margin: 0 auto;
}

.connect {
	margin: 0 auto;
	width: 224px;
}

	a.socialmedia {
		width: 36px;
		height: 36px;
		margin: 0 8px 15px 8px;
		border: 2px solid white;
		border-radius: 50%;
		float: left;
		background-color: rgba(0,0,0,0);
	}

		a.socialmedia img {
			display: block;
			margin: 0 auto;
			margin-top: 7px;
		}

		a.socialmedia:hover {
			background-color: rgba(0,0,0,0.35);
		}


p {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
	font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 30px;
	color: rgba(255,255,255,0.9);
}




/* LAPTOP RANGE */

@media screen and (max-width: 1400px) {
	img {
		margin: 10% auto 0 auto;	
	}
}



/*TABLET RANGE*/ 


@media screen and (max-width: 768px) {
	h1 {
		width: 300px;
		font-size: 28px;
	}

	.stroke {
		width: 85%;
	}

	h2 {
		width: 85%;
		font-size: 20px;
		line-height: 34px;
	}

	p {
		font-size: 16px;
	}

}


/*PHONE RANGE*/

@media screen and (max-width: 640px) {

	img.brand {
		width: 90px;
		height: 90px;
	}

	h1 {
		width: 300px;
		font-size: 28px;
	}

	.stroke {
		width: 94%;
	}

	h2 {
		width: 88%;
		font-size: 18px;
		line-height: 34px;
		font-weight: 300;
	}

		h2 a {
			font-weight: 400;
		}

	.connect {
		width: 224px;
	}

	p {
		font-size: 16px;
	}

	footer {
	    height: 125px;
	    padding-bottom: 10px;
	}

}


/*HIGH RES DEVICES*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
	    * {
		margin: 0;
	}

	html, body {
		max-height: 100%;
		width: 100%;
	}

	body {
		margin: 0 auto;
		background-image: url("../images/background.jpg");
		background-size: cover;
		background-repeat: none;
		background-attachment: fixed;
	}

	.wrapper {
	  min-height: 100%;
	  /* equal to footer height */
	  margin-bottom: -250px; 
	}

	img {
		display: block;
		margin: 15% auto 0 auto;	
		padding-bottom: 120px;
		width: 250px;
		height: 250px;
	}

		.connect img {
			display: block;
			margin: 0 auto;
			width: 60px;
			height: 60px;
		}

	h1 {
		margin: 0 auto;
		padding-bottom: 60px;
		width: 90%;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 6px;
		font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
		font-weight: 400;
		font-size: 80px;
	}

	.stroke {
		margin: 0 auto;
		height: 2px;
		width: 900px;
		background-color: white;
		/* gradient */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear,left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

	}

	h2 {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
		font-size: 54px;
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 90px;
		color: rgba(255,255,255,0.85);
		padding-top: 40px;
	}

		h2 a {
			color: white;
			text-decoration: none;
			font-weight: 500;
			letter-spacing: 1px;
		}


	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	    height: 250px;
	    margin: 0 auto;
	}

	.connect {
		margin: 0 auto;
		width: 672px;
	}

		a.socialmedia {
			width: 108px;
			height: 108px;
			margin: 0 24px 45px 24px;
			border: 2px solid white;
			border-radius: 50%;
			float: left;
			background-color: rgba(0,0,0,0);
		}

			a.socialmedia img {
				display: block;
				margin: 0 auto;
				margin-top: 21px;
			}

			a.socialmedia:hover {
				background-color: rgba(0,0,0,0.35);
			}


	p {
		width: 100%;
		margin: 0 auto;
		padding: 60px 0 60px 0;
		text-align: center;
		font-family: 'Roboto', helvetica neue, helvetica, sans-serif;
		font-size: 48px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 1px;
		line-height: 60px;
		color: rgba(255,255,255,0.9);
	}

}
