/*TABLET RANGE*/ 


@media screen and (max-width: 48.000em) {
	h1 {
		width: 18.750em;
		font-size: 1.750em;
	}

	.stroke {
		width: 85%;
	}

	h2 {
		width: 85%;
		font-size: 1.250em;
		line-height: 2.125em;
	}

	p {
		font-size: 1.0em;
	}

}

